fish/fish_history
fonts/
gimp/
irssi/logs/
micro/buffers/
mozilla/
mpd/database
mpd/log
mpd/playlists
mpd/state
mpd/sticker.sql
mpdscribble
mpv/watch_later
ncmpcpp/error.log
rootshuf/
ssh/
transmission/torrents
transmission/resume